<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Operations</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getAge()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td>
      <form th:action="@{/users/edit}" method="POST">
        <input type="hidden" name="id" th:value="${user.getId()}"/>
        <input type="submit" value="Update"/>
      </form>
    </td>
    <td>
      <form th:action="@{/users/delete}" method="POST">
        <input type="hidden" name="id" th:value="${user.getId()}"/>
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<br/>

<form th:action="@{/users/new}" method="GET">
  <input type="submit" value="Add"/>
</form>

</body>
</html>